/* HK Grotesk - Self-hosted */
@font-face {
  font-family: "HK Grotesk";
  src: url("~/public/fonts/HKGrotesk-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
/* 
@font-face {
  font-family: "HK Grotesk";
  src: url("~/public/fonts/HKGrotesk-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */

/* Glacial Indifference - Self-hosted */
@font-face {
  font-family: "Glacial Indifference";
  src: url("~/public/fonts/GlacialIndifference-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: "Glacial Indifference";
  src: url("~/public/fonts/GlacialIndifference-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
} */
